@import 'variables';
@import 'colors';
@import '~rfs/scss';

.mobile-navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: $background-navigation;
	display: flex;
	justify-content: center;
	z-index: 100;
	height: $toolbarHeight;

	@media (min-width: $lg) {
		display: none;
	}
}

.mobile-nav-item {
	//flex: 1 1 0px;
	display: flex;
	width: 25%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	border-top: 1px solid $line-color;
	text-decoration: none;
	color: white;

	img.active {
		display: none;
		width: 100%;
	}
	img.inactive {
		display: block;
		filter:brightness(0);
		width: 100%
	}

	&.active {
		color: $primary;

		::ng-deep svg {
			fill: $primary !important;
		}

		img.active {
			display: block;
		}
		img.inactive {
			display: none;
		}
	}
}



.icon-wrapper {
	margin-bottom: 4px;
	width: 21px;
	height: 21px;
}

.demoplayer-menu {
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;

	::ng-deep svg {
		//fill: black !important;
	}

	.icon-wrapper {
		margin-top: -2px;
		margin-bottom: 0;
	}
}

.active {
	.demoplayer-menu {
		background: $primary;


		::ng-deep svg {
			fill: white !important;
		}
	}
}
