@import 'variables';

:host {
	width: 100%;
}

aside {
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: $borderRadius;
	color: white;
	opacity: 0;

	&.info {
		background-color: $info;
	}

	&.success {
		background-color: $success;
	}

	&.error {
		background-color: $error;
	}
}
