@import 'variables';

#dropzone {
	height: 100%;

	border: none;
	background-color: transparent;

	&.ngx-dz-hovered #dropzone-icon {
		background-color: #e3e3e344;
	}

	#dropzone-icon {
		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: $borderRadius;
		margin-bottom: 1rem;
	}

	ngx-dropzone-label {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}


.upload {
	height: 170px;
	width: 170px;
	margin-bottom: 16px;
}

.upload-desc {
	color: white;
}


.credits-left-container {
	color: white;
	text-align: center;
	margin-top: 64px;
}
