$red: #f15d5c;
$demored: #e73939;
$navyblue: #2A276D;
$darkblack: #272621;
$grey: #c3c1ba;
$grey-light: #eeeeee;


$bgInput: #f9f9f9;
$link: #292a6d;

$primary: $demored;



$boxShadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.12);


.white {
	color: white;
}
