@import 'responsive';
@import 'variables';
@import 'colors';

.image-container {
	//height: calc(100vh - 84px);
	width: 40vw;
	margin-right: 64px;
	padding: 32px;
	margin-left: -100px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	@include respondTo(mobile) {
		display: none;
	}
}


.authBox {
	display: flex;
}

.custom-input {
	padding: 16px 16px;
	margin-top: 12px;
	/*border: 1px solid #d5d5d5;*/
	border-radius: 8px;
	font-size: 20px;
	/*min-width: 300px;*/


	background: $background-input;
	color: $txt-input;

	font-weight: 500;
	border: none;
	width: 400px;
	box-sizing: border-box;

	@include respondTo(mobile) {
		/*width: 65vw;*/
		flex: 1;
	}
}


.stepper {
	align-self: center;
	justify-content: center;
	padding: 40px;
}


.label {
	display: block;
}

.hint {
	color: red;
	margin-bottom: 32px;
}
