<div class="authBox main-container container full-height">
	<div class="image-container">
		<img src="../../../assets/bubble-background.png" />
	</div>

	<app-stepper [selectedIndex]="step" class="stepper">
		<cdk-step [stepControl]="firstStep">
			<h1>Reset password</h1>

			<form (ngSubmit)="step1Submit()" [formGroup]="firstStep">
				<app-form-field>
					<label class="label" for="email">Email</label>
					<input
						id="email"
						class="custom-input"
						type="text"
						formControlName="email"
						required
					/>
				</app-form-field>

				<div class="w100 flex ac jsb">
					<button button-accent type="submit" [loading]="loading">
						Send Code
					</button>

					<button button-sec routerLink="/login">
						Login
					</button>
				</div>
			</form>
		</cdk-step>

		<cdk-step [stepControl]="secondStep">

			<h1>Check your e-mails<br />and enter the code received</h1>

			<form [formGroup]="secondStep" (ngSubmit)="submitCode()">
				<app-form-field>
					<div>
						<label class="label" for="code">Code</label>
						<input
							id="code"
							class="custom-input"
							type="text"
							formControlName="code"
							required
						/>
					</div>
				</app-form-field>

				<p *ngIf="showCodeMismatchError" class="hint">The code you entered was not correct, please try again.</p>


				<button button-accent type="submit">
					Reset password
				</button>
			</form>
		</cdk-step>


		<cdk-step [stepControl]="thirdStep">

			<h1>Your new password</h1>

			<form [formGroup]="thirdStep" (ngSubmit)="submitNewPassword()">
				<app-form-field formGroupName="passwords">
					<label class="label" for="password">Password</label>
					<input
						id="password"
						class="custom-input"
						type="password"
						formControlName="password"
						required
					/>
					<span
						*ngIf="password.invalid && submitted"
						class="hint"
					>
							Password must include at least 8 characters
						</span>
				</app-form-field>

				<app-form-field formGroupName="passwords">
					<label class="label" for="retype"
					>Retype Password</label
					>
					<input
						id="retype"
						class="custom-input"
						type="password"
						formControlName="retypePassword"
						required
					/>
					<span
						*ngIf="passwords.invalid && submitted"
						class="hint"
					>
							The passwords don't match
						</span>
				</app-form-field>

				<div class="w100 flex ac jsb">

					<button button-accent type="submit" [loading]="loading">
						Submit
					</button>
				</div>
			</form>
		</cdk-step>
	</app-stepper>

</div>
