@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-[#f4f5f5];
}

.title {
    @apply text-3xl font-semibold;
}

.subtitle {
    @apply text-2xl font-medium;
}

a {
    @apply cursor-pointer
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

.activePageMarker {
    @apply bg-[#d34944] text-white
}

.activePackageMarker {
    @apply border-2 border-demo-gray-800 text-black font-semibold
}

.activeCateGigCategorie {
    @apply shadow-md scale-105 bg-[#f2f2f2]
}

.activeServiceMarker {
    @apply border-[2.5px] border-black
}

.text-shadow {
    text-shadow: 3px 3px 0.5px black;
}

.hide-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

input[type=text],
input[type=number],
input[type=email],
input[type=password] {
    @apply px-2 py-3 rounded-xl pl-5 placeholder:font-semibold
}

input[type=text].withBorder,
input[type=number].withBorder,
input[type=email].withBorder,
input[type=password].withBorder {
    @apply outline-none border-b-2 border-[#eaeaea] !rounded-none
}

.half {
    @apply w-full md:w-1/2
}

.lineclamp {
    @apply h-[25vh] overflow-hidden md:h-full md:overflow-visible
}

.inlineLink a {
    @apply cursor-pointer underline
}

/* .activePageMarker {
    @apply bg-[#d34944] text-white
} */

/* hide scrollbar but allow scrolling */
.no-scrollbar {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

h4.heading {
    @apply text-lg
}

h5.heading {
    @apply text-base;
}

h6.heading {
    @apply text-sm;
}

.bulletList {
    @apply list-disc ml-4;
}

.orderedList {
    @apply list-decimal ml-5;
}

.test {
    bottom: calc(-1 * (100% - 72px));
}

.editorText span {
    @apply italic font-bold underline text-red-500
}

.button {
    @apply rounded-full disabled:hover:scale-100 disabled:hover:brightness-50 py-3 px-8 hover:scale-105 hover:brightness-110 transition-transform
}

.input-not-done {
    @apply border-demo-red border-2
}

.required {
    position: relative;
}

.required:after {
    content:" *"; 
    color: #e32;
    position: absolute; 
    top: -18px;
    right: -12px;
    font-size: 22px; 
    padding: 0 5px 0 0; 
}

.required.bigger:after {
    top: 0;
}

.trash-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 6V5.2C16 4.0799 16 3.51984 15.782 3.09202C15.5903 2.71569 15.2843 2.40973 14.908 2.21799C14.4802 2 13.9201 2 12.8 2H11.2C10.0799 2 9.51984 2 9.09202 2.21799C8.71569 2.40973 8.40973 2.71569 8.21799 3.09202C8 3.51984 8 4.0799 8 5.2V6M10 11.5V16.5M14 11.5V16.5M3 6H21M19 6V17.2C19 18.8802 19 19.7202 18.673 20.362C18.3854 20.9265 17.9265 21.3854 17.362 21.673C16.7202 22 15.8802 22 14.2 22H9.8C8.11984 22 7.27976 22 6.63803 21.673C6.07354 21.3854 5.6146 20.9265 5.32698 20.362C5 19.7202 5 18.8802 5 17.2V6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    background-position: center center;
    background-repeat: no-repeat;
}

.no-scroll {
    overflow: hidden;
}

.orderModalTextExpand-enter-active {
transition: all .6s ease-out;
}

.orderModalTextExpand-leave-active {
transition: all .1s cubic-bezier(1, 0.5, 0.8, 1);
}

.orderModalTextExpand-enter-from,
.orderModalTextExpand-leave-to {
    opacity: 0;
}
.orderModalButtonExpand-enter-active {
transition: all .15s cubic-bezier(.4,0,.2,1);
}

.orderModalButtonExpand-leave-active {
transition: all .15s cubic-bezier(.4,0,.2,1);
}
.orderModalButtonExpand-enter-from,
.orderModalButtonExpand-leave-to {
    letter-spacing: -1em;
    opacity: 0;
}
.orderModalClose-enter-active {
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
}   
.orderModalClose-leave-active {
    transition: all 0.15s cubic-bezier(.4,0,.2,1);
}   

.orderModalClose-enter-from,
.orderModalClose-leave-to {
    opacity: 0;
}
.generalNavigation-enter-active {
    transition: all 0.3s cubic-bezier(.4,0,.2,1);
}   
.generalNavigation-leave-active {
    transition: all 0.3s cubic-bezier(.4,0,.2,1);
}   

.generalNavigation-enter-from,
.generalNavigation-leave-to {
    opacity: 0;
}
.closeLogin-enter-active {
    transition: all 0.3s cubic-bezier(.4,0,.2,1);
}   
.closeLogin-leave-active {
    transition: all 0.3s cubic-bezier(.4,0,.2,1);
}   

.closeLogin-enter-from,
.closeLogin-leave-to {
    opacity: 0;
}

.loginregister-enter-active {
    transition: all 0.6s cubic-bezier(.4,0,.2,1);
}   
.loginregister-leave-active {
    transition: all 0.1s cubic-bezier(.4,0,.2,1);
}   

.loginregister-enter-from,
.loginregister-leave-to {
    opacity: 0;
}
.scrollArrow-enter-active {
    transition: all 0.2s cubic-bezier(0.19, 0.13, 0.62, 0.05);
}   
.scrollArrow-leave-active {
    transition: all 0.2s cubic-bezier(0.05, 0.62, 0.13, 0.19);
}   

.scrollArrow-enter-from,
.scrollArrow-leave-to {
    opacity: 0;
}

.no-mobile-highlight {
    -webkit-tap-highlight-color: transparent;
}

.scroll-gradient-right {
    @apply after:bg-gradient-to-l transition-all after:w-1/6 after:md:w-1/12 after:from-demo-gray-100 after:to-transparent after:h-full after:absolute after:right-0 after:inset-y-0
}

.scroll-gradient-left {
    @apply after:bg-gradient-to-r transition-all after:w-1/6 after:md:w-1/12 after:from-demo-gray-100 after:to-transparent after:h-full after:absolute after:left-0 after:inset-y-0
}


