@import "colors";
@import "variables";

.greyRect {
	background-color: $background-item;
	border-radius: $borderRadius;
	padding: 2rem;
}

.greyRect:hover {
	background-color: $background-item-hover;
}

.category {

	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.title {
	font-size: 20px;
	color: $primary;
}
