<div>


	<div
		*ngFor="let item of items"
		class="category greyRect"
		[ngClass]="{ hasLink: item.link }"
		(click)="navigate(item)"
	>
		<div>
			<div class="title bold">{{ item.header }}</div>

			<div class="description">
				{{ item?.description }}
				<fa-icon
					*ngIf="item.link && !item?.dateString"
					class="dark"
					[icon]="faLink"
				></fa-icon>
			</div>
		</div>

		<div class="light">
			{{ item?.dateString }}
			<fa-icon
				*ngIf="item.link && item?.dateString"
				class="dark"
				[icon]="faLink"
			></fa-icon>
		</div>
	</div>

	<div *ngIf="items.length === 0" class="greyRect">
		{{ isMe ? emptyText.isMe : emptyText.isForeign }}
	</div>

</div>
